header{
    background-color: darkorange;
    height: 150px;

}
main{
    background-color: rgb(1, 18, 147);
    height: 1900px;

}
footer{
    background-color: darkorange;
    height:400px;
    width: auto;
    margin-top: auto;
    
 }
.logo{
    width: 100px;
    border-radius: 50%;
    margin: 5px;
 }
 .produto{
    height: 700px;
    margin: 40px;
    

 }
.descricao{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    
    
}
.container_produto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.botao{
   border: 2px orangered solid;
   border-radius: 5px;
   width: 200px;
   color: orangered;
   font-size: large;
   height: 50px;
   text-align: center;
   justify-content: end;
   
   
}
/* muda cor do botao e do texto */
.botao:hover{
   color: white;
   background-color: orangered;
}
a{
   text-decoration: none;
}
.detalhes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.informaçoes{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 40px;
}
.pesquisar{
   height: 100px;
   margin: 1px;
   position: relative;
   
}
.lupa{
   height: 20px;
   border-radius:50% ;
}
.carrinho{
   height: 65px;
   display: flex;
   justify-content: right;
   align-items: center;
   margin-top: -80px;
   
   
}
.usuario{
   height: 55px;
   margin-top: -60px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: darkblue;

}
.usuario{
   height: 55px;
   display: flex;
   align-items: center;
   justify-content: space-around;
    ;
}    
    



